header {
    width: 100%;
    height: 75px;
    display: flex;
    border: solid 1px lightgray;
}

.logo-wrapper {
    background-color: #e7000a;
    width: 15%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-wrapper img {
    width: 120px;
}

.navbar {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.header-box {
    display: flex;
    align-items: center;
}

.header-box:hover {
    border-bottom: 5px solid #e7000a;
}

.header-box:hover svg polygon {
    fill: #e7000a;
}

.header-box:hover svg path {
    fill: #e7000a;
}

.header-box ul {
    padding-left: 5px;
}

.header-box ul a {
    text-decoration: none;
    color: rgb(60, 60, 60);
    padding-left: 0;
    font-size: 1em;
}

.header-box:hover ul a {
    color: #e7000a;
}

.search-box {
    width: 6%;
    height: 98%;
    border-left: solid 1px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.search-box:hover {
    color: #e7000a;
}

.search-box p {
    font-size: 0.8em;
    margin: 0;
}

.search-box svg {
    padding-bottom: 10px;
    margin-top: 10px;
}

.search-box:hover svg path {
    stroke: #e7000a;
}