header {
    width: 100%;
    height: 75px;
    display: flex;
    border: solid 1px lightgray;
}
.logo-wrapper {
    background-color: #e7000a;
    width: 15%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-wrapper img {
    width: 120px;
}
.navbar {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.navbar ul {
    padding-left: 5px;
}
.navbar ul a {
    text-decoration: none;
    color: rgb(60, 60, 60);
    padding-left: 0;
    font-size: 1.1em;
}
.header-box {
    display: flex;
    align-items: center;
}
.header-box:hover {
    color: #e7000a;
    border-bottom: 5px solid #e7000a;
}
.header-box img {
    width: 16px;
    height: 16px;
}
.search-box {
    width: 6%;
    height: 98%;
    border-left: solid 1px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: black;
}
.search-box:hover {
    color: #e7000a;
}
.search-box p {
    font-size: 0.8em;
    margin: 0;
    position: absolute;
    bottom: 10px;
}
.search-box img {
    width: 22px;
    margin-bottom: 12px;
    cursor: pointer;
}
