.hello-block {
    width: 75%;
    margin: auto;
    display: flex;
    padding: 30px 0 30px 0;
}

.content {
    margin-top: 100px;
}

.content img {
    width: 650px;
}

.content h3 {
    font-size:  2em;
    color: white;
    margin: 10px;
    padding: 0 0 30px 55px;
    letter-spacing: 0.3em;
}

.hello-block p {
    color: white;
    font-size: 1.3em;
    line-height: 40px;
    margin: 0;
    padding-left: 55px;
    letter-spacing: 1px;

}

.nintendo-button {
    margin: auto;
    display: block;
}

.nintendo-button:hover {
    cursor: pointer;
    animation-name: move;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes move {
    0% {
        transform: translateY(0);
    } 50% {
        transform: translateY(-10px);
    } 100% {
        transform: translateY(0);
    }
}

.nintendo-cast {
    width: 100%;

}