.hello-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    top: 12%;
}
.hello-block img {
    width: 650px;
}
.hello-block h3 {
    font-size:  2em;
    color: white;
    margin: 0;
    padding-left: 55px;
    padding-bottom: 30px;
}
.hello-block p {
    color: white;
    font-size: 1.3em;
    line-height: 33.852px;
    margin: 0;
    padding-left: 55px;
}
.mario {
    position: absolute;
    right: 15%;
    top: 3%;
}
.nintendo-button {
    position: absolute;
    top: 100%;
    left: 20%;
}
.nintendo-cast {
    width: 100%;
    position: absolute;
    top: 120%;
}
.nintendo-button:hover {
    cursor: pointer;
    animation-name: move;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes move {
    0% {
        transform: translateY(0);
    } 50% {
        transform: translateY(-10px);
    } 100% {
        transform: translateY(0);
    }
}