.navbox-container {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    border: 1px solid lightgray;
    margin-top: 5px;
}

 .navbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px dotted lightgray  ;
    text-decoration: none;
    color: black;
}

.navbox:hover {
    color: #e7000a;
}

.navbox img {
    width: 42px;
    height: 42px;
    margin-left: 15px;
}

.navbox p {
    margin: 15px;
    font-size: 0.8em;
    font-weight: bold;
}