.news {
    width: 75%;
    font-size: 1.3em;
    font-weight: bolder;
    color: black;
    padding-top: 80px;
    margin: auto;
}
.news-line {
    width: 75%;
    height: 2px;
    border-bottom: 2px solid lightgray;
    margin: auto;
    padding-top: 20px;
}
.red-line {
    width: 150px;
    height: 2px;
    border-bottom: 3px solid #e7000a;
}
.grid {
    padding-top: 40px;
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 50px;
}
.grid-box img {
    width: 100%;
}
.grid-box p {
    font-size: 1em;
    font-weight: bold;
}
.date-section {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}
.date-section button {
    color: white;
    background-color: #e7000a;
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 8px;
}
.date-section p {
    margin: 0;
    font-size: 0.8em;
}
.more-news {
    background-color: #e7000a;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    border: 2px solid #e7000a;
    width: 190px;
    height: 35px;
    display: block;
    margin: auto;
}
.more-news:hover {
    background-color: white;
    color: #e7000a;
}
