.slideshow {
    position: relative;
    width: 100%;
    height: 535px;
}
.slides {
    display: flex;
}
.slides img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.slide-buttons {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    justify-content: space-between;
    width: 100%;
    display: flex;
}
.prev {
    color: white;
    background-color: #e7000a;
    border-style: none;
    padding: 35px 15px 35px 15px;
    font-size: 1.5em;
    cursor: pointer;
}
.next {
    color: white;
    background-color: #e7000a;
    border-style: none;
    padding: 35px 15px 35px 15px;
    font-size: 1.5em;
    cursor: pointer;
}
