.slideshow {
    position: relative;
    top: 75px;
}
.slides img {
    width: 100%;
    height: 530px;
    object-position: center;
}
.prev {
    position: absolute;
    top: 50%;
    left: 0%;
    color: white;
    background-color: #e7000a;
    border-style: none;
    padding: 35px 15px 35px 15px;
    font-size: 1.5em;
    cursor: pointer;
}
.next {
    position: absolute;
    top: 50%;
    right: 0%;
    color: white;
    background-color: #e7000a;
    border-style: none;
    padding: 35px 15px 35px 15px;
    font-size: 1.5em;
    cursor: pointer;
}
