.sns-btns {
    width: 75%;
    margin: auto;
    height: 75px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    padding-top: 50px;  
}
.youtube-button {
    text-decoration: none;
    color: black;
    width: 50%;
    height: 100%;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid  lightgray;
}
.youtube-button:hover {
    color: #e7000a;
    border: 2px solid #e7000a;
}
.youtube-button img {
    width: 60x;
    height: 60px;
}
.youtube-button p {
    font-size: 1.5em;
}
.youtube-button button {
    color: white;
    background-color: #e7000a;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.facebook-button {
    text-decoration: none;
    color: black;
    width: 50%;
    margin-left: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border: 1px solid  lightgray;
}
.facebook-button:hover {
    color: #00c3e3;
    border: 2px solid #00c3e3;
}
.facebook-button img {
    width: 60px;
    height: 60px;
}
.facebook-button p {
    font-size: 1.5em;
}
.facebook-button button {
    color: white;
    background-color: #00c3e3;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
